html,
body,
header,
div,
p,
h2,
h3,
h4,
figure,
button,
input {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  outline: none;
  border: none;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header div {
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 7.5rem;
  top: 3.87rem;
  background: #3461a4;
  padding-left: 3.8rem;
}

.logo {
  padding-left: 3.5rem;
}

header {
  width: 100%;
  height: 21rem;
  background: #6d9fea;
}

header p {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 2.3rem;
  line-height: 56px;
  color: #ffffff;
  padding-left: 2rem;
}

header img {
  width: 6rem;
}

.houses {
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 16.5rem;
}

.house {
  background-color: #e5edf2;
  width: 20rem;
  height: 32rem;
  padding-top: 1.5rem;
}

.house h4 {
  font-size: 4rem;
  margin-top: 1.5rem;
  color: #5777a8;
  font-weight: 500;
}

.house img {
  width: 13rem;
  height: 17rem;
}

.house h2 {
  font-size: 2.5rem;
  color: #5777a8;
  font-weight: 500;
  margin-bottom: 2rem;
}

.students {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 53rem;
  width: 93vw;
  background-color: #e5edf2;
  padding: 2.5rem;
}

.student {
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  border-bottom: 1px solid #5777a8;
  padding-bottom: 0.6rem;
  padding-top: 0.7rem;
}

.student h3 {
  font-weight: 300;
  color: #5777a8;
  font-size: 1.7rem;
}

.student p,
h3 {
  font-weight: lighter;
  color: #5777a8;
  font-size: 1.7rem;
}

.student figure {
  cursor: pointer;
}

.name {
  width: 50%;
  display: flex;
  justify-content: left;
}
.house-name {
  width: 30%;
}

.house-name {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 50%;
}

.modal {
  display: flex;
  padding: 2rem;
  border: none;
  background-color: #e5edf2;
  outline: none;
}

.student-info {
  display: flex;
  flex-direction: column;
  margin-left: 1.5rem;
  align-items: center;
  color: #3461a4;
}

.student-image img {
  width: 19rem;
  height: 26rem;
}

.student-info input {
  width: 20rem;
  height: 2.8rem;
  margin-bottom: 1rem;
  border: 1px solid #5777a8;
  font-size: 2rem;
  margin-top: 2.5rem;
  color: #3461a4;
  text-align: center;
}

.buttons {
  width: 20rem;
  display: flex;
  justify-content: space-between;
}

button {
  width: 9rem;
  height: 2.7rem;
  color: #fff;
  outline: none;
  font-size: 1.6rem;
  cursor: pointer;
}

.gain {
  background-color: #65e1cb;
}

.gain:hover {
  background-color: #00c559;
  border: 2px solid #5777a8;
}

.lose {
  background-color: #f8a388;
}

.lose:hover {
  background-color: #e05923;
  border: 2px solid #5777a8;
}

.modal h2 {
  font-weight: 400;
  font-size: 3.8rem;
}

.student-house {
  width: 100%;
  font-size: 2.2rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.student-house img {
  width: 3rem;
  margin-right: 0.8rem;
}

.graded button {
  background-color: #6994d4;
}

.note-add {
  color: #65e1cb;
  font-weight: 500;
  font-size: 4.5rem;
  margin: 1.5rem 0;
}

.note-sub {
  color: #f8a388;
  font-weight: 500;
  font-size: 4.5rem;
  margin: 1.5rem 0;
}

.students h2 {
  text-align: left;
  font-size: 3.5rem;
  font-weight: 300;
  color: #5777a8;
  margin-bottom: 3.5rem;
}

.title-column {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #5777a8;
  font-size: 1.8rem;
  color: #5777a8;
  font-weight: 400;
}

.student img {
  width: 3rem;
}

@media (max-width: 1500px) {
  :root {
    font-size: 14px;
  }
}

@media (max-width: 1200px) {
  :root {
    font-size: 12px;
  }
}

@media (max-width: 1000px) {
  :root {
    font-size: 9px;
  }
  @media (max-width: 1500px) {
    :root {
      font-size: 14px;
    }
  }
  .houses {
    width: 90%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 14rem;
  }

  .house {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 7rem;
    padding: 15px;
    margin-bottom: 5px;
  }

  .house h4 {
    font-size: 3rem;
    margin: 0px;
    font-weight: 400;
  }

  .house img {
    width: 3rem;
  }

  .house h2 {
    font-size: 2rem;
    margin: 0px;
    font-weight: 400;
  }

  header p {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.5rem;
    padding: 5px;
  }

  header img {
    width: 3.5rem;
  }

  .logo {
    padding-left: 0.5rem;
  }

  /* 
  
  */

  .students {
    top: 45rem;
    padding: 0.5rem;
    width: 100%;
  }

  .student {
    padding-top: 0.6rem;
  }

  .student figure img {
    width: 2.5rem;
  }

  .student h3 {
    font-size: 1.4rem;
  }

  .student p,
  h3 {
    font-size: 1.4rem;
  }

  .modal {
    flex-direction: column;
    padding: 1rem;
  }

  .modal figure {
    text-align: center;
  }

  .student-info {
    margin: 0;
    margin-bottom: 10px;
  }

  .student-image img {
    width: 10.5rem;
    height: 12.8rem;
    border-radius: 100%;
  }

  .student-info input {
    font-size: 2rem;
    margin-top: 1.8rem;
  }

  button {
    width: 9rem;
    height: 2.7rem;
    color: #fff;
    outline: none;
    font-size: 1.6rem;
    cursor: pointer;
  }

  .gain {
    background-color: #65e1cb;
  }

  .gain:hover {
    background-color: #00c559;
    border: 2px solid #5777a8;
  }

  .lose {
    background-color: #f8a388;
  }

  .lose:hover {
    background-color: #e05923;
    border: 2px solid #5777a8;
  }

  .modal h2 {
    font-size: 3rem;
  }

  .student-house {
    font-size: 1.8rem;
    margin-bottom: 0.2rem;
  }

  .student-house img {
    width: 2rem;
    margin-left: 0.5rem;
  }

  .students h2 {
    text-align: left;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }

  .title-column {
    font-size: 1.5rem;
    font-weight: 400;
  }
}
